@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Josefin Sans", sans-serif;
}

.header {
  background-image: url(./images/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 65rem;
  padding: 4rem 2.35rem;
  position: relative;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  color: #fff;

  justify-content: flex-end;
  align-items: center;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem 0 0 3rem;
  transition: border-bottom 0.2s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: 2px solid white;
  color: white;
}
.navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
}
.box {
  padding: 2.35rem 2.25rem;
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -62%);
  width: 30%;
  height: 40%;
  background-color: transparent;
  border: 0.2rem solid white;
}
.box h1 {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.16rem;
  font-size: 7rem;
  line-height: 7rem;
  color: white;
}
/*section1*/

.section-container {
  width: 116rem;
  margin: 5% auto;
}
.wrapper {
  display: flex;
}
.left {
  position: relative;
  box-shadow: -20px 12px 20px 0px hsla(240, 77%, 18%, 0.52);
}

.right {
  width: 55rem;
  height: 39rem;
  background-color: white;
  padding-top: 9.6rem;
  padding-left: 9.6rem;
  margin-top: 8%;
  position: absolute;
  left: 50%;

  box-shadow: -20px 12px 20px 0px hsla(240, 77%, 18%, 0.52);
}
.right h1 {
  text-align: left;
  font-size: 4.8rem;
}
.right p {
  margin: 2.5rem 0 0 0;
  text-align: left;
  max-width: 45.1rem;
  font-size: 1.5rem;
  width: 92%;
}
/******section2*****/
/******section2*****/
/******section2*****/
.text-container {
  display: flex;
  justify-content: space-around;
}
.text h1 {
  text-align: center;
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  row-gap: 3rem;
  width: 70%;
  margin: 5% auto;
}
/******footer*****/
/******footer*****/
/******footer*****/
.footer {
  background-color: black;
  padding: 40px;
  width: 100%;
}
.text {
  font-size: 3rem;
  font-weight: bold;
}
.footer-container {
  margin: auto;
  width: 90%;
  font-weight: bold;
}
.first-row {
  padding: 10px;
}
.logo {
  margin-left: 55px;
}
.social-icons {
  display: flex;
  margin-right: 45px;
  justify-content: flex-end;
}
.icons {
  margin-left: 15px;
}
.second-row {
  margin-top: 30px;
}

.links ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.links ul li {
  color: white;
  font-size: 12px;
  margin-left: 45px;
  text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
  .header {
    background-image: url(./images/mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;

    position: relative;
  }
  .headerImg {
    width: 100%;
    display: block;
  }
  .right {
    width: 40rem;
    height: 30rem;

    padding-top: 30px;
    padding-left: 30px;
    margin-top: 8%;
    position: absolute;
    left: 50%;

    box-shadow: -20px 12px 20px 0px hsla(240, 77%, 18%, 0.52);
  }
  .right h1 {
    text-align: left;
    font-size: 30px;
  }

  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    color: #fff;

    justify-content: center;
    align-items: center;
  }
  .section-container {
    width: 90%;
    margin: 5% auto;
  }
  .box {
    position: inherit;
    top: 250px;
    padding: 20px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -62%);
    width: 100%;
    height: 35%;

    border: 0.2rem solid white;
  }

  .box h1 {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3.85rem;
    color: white;
  }
  img {
    max-width: 100%;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    transition: border-bottom 0.2s ease-in-out;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .links ul {
    flex-direction: column;
  }
  .right {
    position: inherit;
    margin-top: 0px;
    width: 100%;
  }
  .cards {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    text-align: center;
    margin-top: 10%;
  }
  .text-container {
    margin-top: 10%;
  }
  .text {
    text-align: center;
  }
  .logo {
    margin-left: -10px;
  }
  .leftimage {
    box-shadow: -20px 12px 20px 0px hsla(240, 18%, 77%, 0.52);
  }
}
